[build]
target = "avr-none"
rustflags = ["-C", "target-cpu=atmega328p"]

[target.'cfg(target_arch = "avr")']
runner = "ravedude"

[unstable]
build-std = ["core"]

[alias]
tank_build = "build --release --bin tank_plant"
tank_run = "run --release --bin tank_plant"
